@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-bg: #000;
  --colog-fg: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Ambiant";
  src: url("../fonts/Ambiant-Regular.eot") format("eot");
}

@font-face {
  font-family: "Ambiant";
  src: url("../fonts/Ambiant-Regular.eot") format("woff");
}

@font-face {
  font-family: "Ambiant";
  src: url("../fonts/Ambiant-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Ambiant", "Inter", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 15px;
  letter-spacing: -0.125px;
  word-spacing: -0.0175rem;
  line-height: 12.5px;
}

a {
  text-decoration: none;
  color: var(--color-fg);
  font-size: 15px;
  letter-spacing: -0.125px;
  word-spacing: -0.0175rem;
  line-height: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  color: var(--colog-fg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 15px;
  letter-spacing: -0.125px;
  word-spacing: -0.0175rem;
  line-height: 12.5px;
}

a {
  text-decoration: none;
  color: var(--colog-fg);
  font-size: 15px;
  letter-spacing: -0.125px;
  word-spacing: -0.0175rem;
  line-height: 1em;
}